html, body{
    height: 100%;
}
.card-text{
    font-size: 13px;
    
}
.card:hover{
    border: solid 2px green;
}
.input-group{
    margin-right: auto;
    margin-left: auto;
}
.row{
    margin-left: 20%;
    margin-right: 20%;
}
.form-control:focus{
    outline:none;
    box-shadow:none;
    border-color:inherit;
}
